@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: #f0f5f6;
}

/* layout */
.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  padding: 1rem;
}

/* default */
.btn {
  color: #fefefe;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.btn-primary {
  background-color: #126e82;
}

.btn-primary:hover {
  background-color: #51c4d3;
}

/* navbar */
.navbar {
  background-color: #126e82;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 1.75rem;
  /* 1rem = 16px */
  font-weight: 700;
  text-decoration: none;
  color: #fefefe;
  background-color: #51c4d3;
  padding: 1px 4px;
  margin: 6px 0;
  border: 1px solid #fefefe;
  border-right-width: 5px;
  border-bottom-width: 5px;
}

.nav-items {
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-item .nav-link {
  text-decoration: none;
  color: #f0f5f6;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: background-color 0.19s ease-in;
}

.nav-link:hover {
  background-color: #51c4d3;
  color: #fefefe;
  border-radius: 3px;
}

/* about */
#about {
  padding-top: 3rem;
}

.hero-container .col {
  flex-grow: 1;
}

.hero-image {
  margin: 2rem 1rem;
  padding: 1rem;
  background: #f0f5f6 url('images/blob.svg') no-repeat bottom;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-content {
  padding: 1rem;
}

.hero-content .title {
  font-size: 2.5rem;
  color: #126e82;
}

.hero-content .description {
  font-size: 1.25rem;
  line-height: 1.5;
}

.designition {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #126e82;
}

.lang {
  color: #a35709;
  text-transform: uppercase;
  font-weight: 500;
}

.hero-content .btn {
  padding: 0.6rem 2rem;
}

/* skill */
#skills {
  padding: 3rem 0 2rem;
  background: linear-gradient(180deg, #f0f5f6 0%, #51c4d3 50%, #f0f5f6 100%);
}

.skill-container .row {
  align-items: flex-start;
}

.skill-container .col {
  flex-basis: 40%;
  width: 40%;
}

.skill-col {
  flex-basis: 60%;
  width: 60%;
}

.skill-content {
  padding: 1rem 2rem;
  color: #132c33;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.skill-item i {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background-color: #ffd622;
  padding: 1rem;
  border-radius: 50%;
}

.skill-details h4 {
  text-transform: uppercase;
}

.skill-details h4,
p {
  margin: 0;
  color: #132c33;
}

.skill-img {
  padding: 3rem;
  background: url('images/blob2.svg') no-repeat center;
}

.skill-img img {
  width: 100%;
  height: auto;
}

/* projects */
#projects {
  padding: 3rem 0 2rem;
}

.section-title {
  font-size: 1.75rem;
  margin: 1rem 0;
  text-align: center;
  color: #126e82;
}

.project-container .row {
  flex-wrap: wrap;
}

.project-container .col {
  align-self: center;
  flex: 1 1;
}

.project-item {
  background-color: #51c4d3;
  background: linear-gradient(to left, #51c4d3, #f0f5f6);
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: -2px 4px 10px #126d8294;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.project-item img {
  width: 100%;
  border-radius: 8px;
  transform: scale(0.95);
  transition: all 0.175s ease-in;
}

.project-item img:hover {
  transform: scale(1);
}

.project-item p {
  color: #132c33;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 6px 0 8px;
}

.project-item p:hover {
  color: #126e82;
}
